<div class="flex flex-col items-start justify-center w-full px-4 md:items-center mt-28 sm:py-6 lg:py-0 ">

	<h1 class="mb-8 text-4xl text-red-600">Create a Bloggggg!</h1>

	<div class="flex items-center justify-center">
		<%= form_with(url: blog_path) do |form| %>


			<div class="mb-2 space-y-4">
				<div>
					<%= form.text_field :title  %>
				</div>

				<div>
					<%= form.text_area :body  %>
				</div>
			</div>

			<%= form.submit "Create Post", class:"text-white font-bold rounded-full px-4 py-2 bg-blue-600 hover:bg-blue-700 active:bg-blue-400 border border-black" %>

		<% end %> 
	</div>
</div>