<li class="group">
  <a
    href="#"
    class="flex items-center p-2 text-base font-medium text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group-hover:text-purple-600"
  >
    <%= icon("fa-solid", "globe", class:"text-black group-hover:text-purple-600")%>
    <span class="ml-3">Help</span>
  </a>
</li>