<li class="group">
  <a
    href="#"
    class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700  group-hover:text-purple-600">
    <%= icon("fa-solid", "comments", class:"text-black group-hover:text-purple-600") %>
    <span class="flex-1 ml-3 whitespace-nowrap">Messages</span>
    <span
      class="inline-flex items-center justify-center w-5 h-5 text-xs font-semibold rounded-full text-primary-800 bg-primary-100 dark:bg-primary-200 dark:text-primary-800"
    >
      4
    </span>
  </a>
</li>