<li class="group">
  <button
    type="button"
    class="flex items-center w-full p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group-hover:text-purple-600"
  >
    <%= icon("fa-solid", "compass", class:"text-black group-hover:text-purple-600") %>
    <span class="ml-3">Overview</span>
  </button>
</li>