<nav class="fixed top-0 left-0 right-0 z-50 h-16 px-4 border-b border-gray-200 bg-gradient-to-b from-purple-800 via-purple-600 to-purple-800 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex flex-wrap items-center justify-between h-full">

    <div class="flex items-center justify-start">
      <button
        data-drawer-target="drawer-navigation"
        data-drawer-toggle="drawer-navigation"
        aria-controls="drawer-navigation"
        class="px-4 py-2 mr-2 text-black rounded-lg cursor-pointer md:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <%= icon("fa-solid", "bars", class:"text-lg") %>
        <span class="sr-only">Toggle sidebar</span>
      </button>
    </div>

    <div class="flex items-center space-x-4">
      <%= render "layouts/partials/header/notifications" %>
      <%= render "layouts/partials/header/apps" %>
      <%= render "layouts/partials/header/profile" %>
    </div>
  </div>
</nav>